<tr>
    <td data-label="Name">{{ stock.name }}</td>
    <td data-label="Value">{{ stock.value|floatformat:4 }}</td>
    <td data-label="Qty">{{ stock.qty }}</td>
    <td data-label="Sum">{{ stock.sum|floatformat:4 }}</td>
    <td data-label="Note">{{ stock.note }}</td>
    <td data-label="Edit"><button class='btn' 
        hx-get="{% url 'edit_stock' stock.pk %}" 
        hx-target="closest tr" 
        hx-swap="outerHTML">
        <svg class="bi bi-pencil" width="32" height="32">
            <use xlink:href="#pencil">
        </svg></button></td>
    <td data-label="Delete"><button class='btn' 
        hx-confirm='Are you sure?' 
        hx-target="closest tr" 
        hx-swap="outerHTML swap:1s" 
        hx-delete="{% url 'delete_stock' stock.pk %}">
        <svg class="bi bi-trash3" width="32" height="32">
            <use xlink:href="#trash3">
        </svg></button></td>
</tr>