  {% load static %}
  <html>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <head>
      <!-- <link rel="stylesheet" href="/static/main.css"> -->
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
      <link href="{% static 'fontawesomefree/css/fontawesome.css' %}" rel="stylesheet" type="text/css">
      <link href="{% static 'fontawesomefree/css/brands.css' %}" rel="stylesheet" type="text/css">
      <link href="{% static 'fontawesomefree/css/solid.css' %}" rel="stylesheet" type="text/css">
      <link rel="stylesheet" href="/static/style.css">      
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <link rel="stylesheet" href="/static/w3.css">
      <title>SMARTMONEY | CHARTS</title>
  </head>
    <body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
        <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
          <symbol id="checkmark" viewBox="0 0 16 16">
              <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z"/>
          </symbol>
          <symbol id="cancel" viewBox="0 0 16 16">
              <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z"/>
          </symbol>
          <symbol id="pencil" viewBox="0 0 16 16">
              <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
          </symbol>
          <symbol id="trash3" viewBox="0 0 16 16">
              <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"/>
          </symbol>
          <symbol id="plus" viewBox="0 0 16 16">
              <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
          </symbol>
        </svg>
        <!-- NAVBAR -->
        <div class="navbar-dhl navbar navbar-inverse navbar-fixed-top">
          <div class="container containerx">
              <div class="navbar-header">
                <a class="navbar-brand myLogo right" href="/">
                  <img src="/static/smartmoney_logo_trans.png"  />
                </a>
              </div>
              <div class="dropdown">
                <a class="btn btn-secondary" href="#" style="background-color:transparent"  role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                {{ username }}
                <i class="fas fa-user"></i>
                <i class="fa-solid fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <li><a class="dropdown-item" href="/logout">Logout</a></li>
                </ul>
              </div>
          </div>
        </div>
        
        <!-- SIDEBAR -->
        <div class="w3-sidebar w3-bar-block w3-card w3-animate-left" style="display:none ;" id="mySidebar">
          <button class="w3-bar-item w3-button w3-large"
          onclick="w3_close()">Close <i class="fa-solid fa-rectangle-xmark" style="color:red;"></i></button>
          <a href="/" class="w3-bar-item w3-button">Charts</a>
          <a href="/savings" class="w3-bar-item w3-button">Savings</a>
          <a href="/debts" class="w3-bar-item w3-button">Debts</a>
          <a href="/incomes" class="w3-bar-item w3-button">Incomes</a>
          <a href="/expenses" class="w3-bar-item w3-button">Expenses</a>
        </div>
        
        <div id="main">
          <div class="w3-teal">
          <button id="openNav" class="w3-button w3-teal" style="font-size: min(5vw, 24px);" onclick="w3_open()">&#9776;</button>
          <div class="w3-container">
            <h1 style="font-size: min(6vw, 32px);">Charts</h1>
          </div>
        </div>
      
          <!-- Page content -->
          <div class="w3-container" >
          
            <div id="container" style="display:flex;flex-wrap: wrap; justify-content: center;">
            <div style="width:clamp(300px, 30vw, 50%); height: clamp(500px, 50vw, 1000px);">
              <canvas id="pie-chart"></canvas>  
            </div>  
            <div style="width:clamp(300px, 30vw, 50%);height: clamp(500px, 50vw, 1000px);">
              <canvas id="pie-chart2"></canvas>
            </div>
            </div>
            <div id="container" style="display:flex;flex-wrap: wrap; justify-content: center;">
              <div style="width:clamp(300px, 30vw, 50%);height: clamp(500px, 50vw, 1000px);">
                <canvas id="pie-chart3"></canvas>
              </div>
              <div style="width:clamp(300px, 30vw, 50%);height: clamp(500px, 50vw, 1000px);">
                <canvas id="pie-chart4"></canvas>
              </div>
              </div>
          
          </div>        
        </div>
        <script>
          function w3_open() {
            document.getElementById("main").style.marginLeft = "clamp(110px, 15%, 1000px)";
            document.getElementById("mySidebar").style.width = "clamp(110px, 15%, 1000px)";
            document.getElementById("mySidebar").style.display = "block";
            document.getElementById("openNav").style.display = 'none';
          }
          function w3_close() {
            document.getElementById("main").style.marginLeft = "0%";
            document.getElementById("mySidebar").style.display = "none";
            document.getElementById("openNav").style.display = "inline-block";
          }
          </script>    
      <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
      <script>
      var bgColor = ["#878BB6", "#FFEA88", "#FF8153", "#4ACAB4", "#c0504d", "#8064a2", "#772c2a", "#f2ab71", "#2ab881", "#4f81bd", "#2c4d75"];
      var config = {
        type: 'doughnut',
        data: {
          datasets: [{
            data: {{ dataSaving|safe }},
            backgroundColor: bgColor,
            label: 'Saving'
          }],
          labels: {{ labelsSaving|safe }}
        },
        options: {
          maintainAspectRatio: false,
          responsive: true,
          title: {
            display: true,
            text: 'SAVINGS',
            fontSize:29
        }
        }
      };

      var config2 = {
        type: 'doughnut',
        data: {
          datasets: [{
            data: {{ dataDebt|safe }},
            backgroundColor: bgColor,
            label: 'Debt'
          }],
          labels: {{ labelsDebt|safe }}
        },
        options: {
          maintainAspectRatio: false,
          responsive: true,
          title: {
            display: true,
            text: 'DEBTS',
            fontSize:29
        }
        }
      };
      var config3 = {
        type: 'doughnut',
        data: {
          datasets: [{
            data: {{ dataIncome|safe }},
            backgroundColor: bgColor,
            label: 'Income'
          }],
          labels: {{ labelsIncome|safe }}
        },
        options: {
          maintainAspectRatio: false,
          responsive: true,
          title: {
            display: true,
            text: 'INCOMES',
            fontSize:29
        }
        }
      };
      var config4 = {
        type: 'doughnut',
        data: {
          datasets: [{
            data: {{ dataExpense|safe }},
            backgroundColor: bgColor,
            label: 'Expense'
          }],
          labels: {{ labelsExpense|safe }}
        },
        options: {
          maintainAspectRatio: false,
          responsive: true,
          title: {
            display: true,
            text: 'EXPENSES',
            fontSize:29
        }
        }
      };

      window.onload = function() {
        var ctx = document.getElementById('pie-chart').getContext('2d');
        window.myPie = new Chart(ctx, config);
        var ctx2 = document.getElementById('pie-chart2').getContext('2d');
        window.myPie = new Chart(ctx2, config2);
        var ctx3 = document.getElementById('pie-chart3').getContext('2d');
        window.myPie = new Chart(ctx3, config3);
        var ctx4 = document.getElementById('pie-chart4').getContext('2d');
        window.myPie = new Chart(ctx4, config4);
      };

    </script>
        <script src="https://unpkg.com/htmx.org@1.9.2" integrity="sha384-L6OqL9pRWyyFU3+/bjdSri+iIphTN/bvYyM37tICVyOJkWZLpP2vGn6VUEXgzg6h" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ="  crossorigin="anonymous"></script>
    </body>
  </html>
