{% load static %}
<!doctype html>
<html lang="en">
<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/style.css">      
    <link rel="stylesheet" href="/static/w3.css">
    <link href="{% static 'fontawesomefree/css/fontawesome.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/brands.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/solid.css' %}" rel="stylesheet" type="text/css">
    <title>SMARTMONEY | LOGIN</title>
</head>

<body>
    <div class="navbar-dhl navbar navbar-inverse navbar-fixed-top">
        <div class="container containerx">
            <div class="navbar-header">
                <a class="navbar-brand myLogo right" href="/">
                    <img src="/static/smartmoney_logo_trans.png"/>
                </a>
                <!-- <a class="navbar-brand navbar-dhl" href="/">Login</a> -->
            </div>	
        </div>
    
    </div>
    <!-- <div class="w3-container">
        <div class="mx-auto" style="width: 500px" ;>
            <form method="post" class="form-horizontal">
                {% csrf_token%}
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" class="form-control" name="username" id="username" placeholder="Enter Username">
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" name="password" id="password" placeholder="Enter Password">
                </div>
                <button type="submit" class="btn btn-primary">LOGIN</button>
                <br />
                <div class="form-group">
                    {% for message in messages %}
                    <div class="alert alert-danger" role="alert">
                        {{message}}
                    </div>
                    {% endfor %}
                </div>
            </form>
        </div>
    </div> -->
    <div class="container container-login">
        <div class="d-flex justify-content-center h-100">
            <div class="card" style="height: 250px;">
                <div class="card-header">
                    <h3>Sign In</h3>
                </div>
                <div class="card-body">
                        {% if message %}
                            <div class="alert alert-danger">
                                {{ message }}
                            </div>
                        {% endif %}
                    <form action="" method = "POST">
                        {% csrf_token%}
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-user"></i></span>
                            </div>
                            <input type="text" class="form-control" placeholder="username" id="username" name="username" ">						
                        </div>
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-key"></i></span>
                            </div>
                            <input type="password" class="form-control" placeholder="password" id="password" name="password" >
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Login" class="btnLogin btn float-right login_btn">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
</body>

</html>