<table>
    <thead>
        <th>Name</th>
        <th>Value</th>
        <th>Quantity</th>
        <th>Sum</th>
        <th>Note</th>
        <th>Edit</th>
        <th>Delete</th>
    </thead>
    <tbody>
        {% for expense in expenses %}
            {% include 'expense/expense_row.html' %}
        {% endfor %}
    </tbody>
</table>

<script type="text/javascript">

$(document).ready(function () {
    getTotal();
});
function getTotal(){
    document.getElementById("totalval").innerHTML = "{{ totalval|escapejs|floatformat:2 }}";
}
</script>